body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-image: url(.../FE/img/5.jpg);

} 

header { 
    color: #ffffff; 
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(95, 18, 48, 0.8)
} 

nav { 
    width: 1080px;
    margin: 0px auto; 
    font-size: 150%;
    background-color: #4E1026; 
    padding: 10px;
    text-align: center;
    border: solid 1px #FA005A;
} 

nav a { 
    color: #FA005A; 
    text-decoration: none; 
    padding: 10px; 
    margin-right: 10px; 
    display: inline-block;
}

.title {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

div {

    background-color: #4E1026;
    padding-top: 100px;
    width: 1100px;
    margin: 0px auto;
    height: 650px;
    border: solid 2px #FA005A;
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.0;
}

.photo {
    width: 300px;
    height: 300px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

.a {
    color: #ffffff;
}


footer{
    background-color: #4E1026;
    width: 1100px;
    margin: 0px auto;
    border: solid 2px #FA005A;
    text-align: center;
    color: #ffffff;
}
