body { 
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
    background-image: url(FE/img/5.jpg);
} 

header { 
    background-color: none;
    color: #ffffff; 
    text-align: center;
    font-size: 1.5em;
    background-color: rgba(95, 18, 48, 0.8);
} 

.title {
    font-family: "Tiny5", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

nav { 
    width: 1080px;
    margin: 0px auto; 
    font-size: 150%;
    background-color: #4E1026; 
    padding: 10px;
    text-align: center;
    border: solid 1px #FA005A;
} 

nav a { 
    color: #FA005A; 
    text-decoration: none; 
    padding: 10px; 
    margin-right: 10px; 
    display: inline-block;
}

div {
    background-color: #4E1026;
    width: 1050px;
    margin: 0px auto;
    height: auto;
    border: solid 2px #FA005A;
    color: #ffffff;
    padding-left: 50px;
}

div a {
    margin-right: 50px;
    padding-left: 10px;
}

.gif{
    padding-left: 250px;
    height: 600px;
}
